body{
	background-image: url("taust.jpeg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	font-family: "Verdana";
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}
.element {
	padding: 1%;
}

.kell {
	border-radius: 15%;
	width: 65%;
	font-size: 20px;
	text-align: center;
	background-color: rgba(255,255,255,0.8);
	border-style: inset;
	border-color: lightgrey;
	margin: auto;

}
.informatsioon {
	background-color: rgba(255, 255, 255, 0.8);
	color: #000066;
	border-style: inset;
	border-color: lightgrey;
	padding: 1%;
	
}

.fa {
	padding: 15px;
	font-size: 40px;
	width: 40px;
	text-align: center;
	text-decoration: none;
	margin-top: 5px;
	margin-right: 5px;
}

.fa-facebook {
	background: #3B5998;
	color: white;
}

.fa-twitter {
	background: #55ACEE;
	color: white;
}

.fa-instagram {
	background: #125688;
	color: white;
}

.lineup {
	background-color: rgba(255, 255, 255, 0.5);
	color: #000066;
	border-style: inset;
	border-color: lightgrey;
	padding: 2%;
	width: 50%;
	float: left;
}

/*google maps*/
#map{
    height: 400px;
    background-color: grey;
	right: 0;
}