body{
<<<<<<< HEAD

	background-image: url("taust.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
=======
	background-color: #e6e6e6;
	font-family: "Verdana";
>>>>>>> 1078eb37a72ef844d89501a101cfdb670ff63b47
}

h1{
	color: white;
	margin-left: 20px;
}

.nupp{
	background-color: #2255a8; /* Blue background */
	border: none; /* Remove borders */
	color: white; /* White text */
	padding: 10px 10px 10px 10px; /* Some padding */
	font-size: 16px; /* Set a font size */
	cursor: pointer; /* Mouse pointer on hover */
}

.nupp:hover{
	background-color: RoyalBlue;
}

/*Naviriba css algus*/
.naviriba{
	border-style: solid;
	border-width: 2px;
	list-style-type: none;
	margin: 25px;
	padding: 0;
	overflow: hidden;
	background-color: #2255a8;
}

.horisont{
	float: left;
}

.nupud{
	font-size: 25px;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.nupud:hover{
	background-color: #142352;
}

.praegune{
	font-size: 25px;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	background-color: #960000;
}
/*naviriba css l6pp*/

/*Kahes veerus elemendid*/
.row {
  display: flex;
}

.column {
  flex: 50%;
}
.element {
	text-align: right;

<<<<<<< HEAD
=======
.element{
	margin: 3% 3% 3% 3%; 
	padding: 1% 1% 1% 1%; 
	border-style: solid;
	border-width: 2px;
	background-color: #6e96c4;
>>>>>>> 1078eb37a72ef844d89501a101cfdb670ff63b47
}
.kell {
	left: 100px;
	border-radius: 30%;
	width: 400px;
	font-size: 20px;
	text-align: center;
	background-color: rgba(255,255,255,0.5);
	border-style: inset;

}
.informatsioon {
	background-color: rgba(255, 255, 255, 0.5);
	color: #000066;
	border-style: inset;
	
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.lineup {
	background-color: rgba(255, 255, 255, 0.5);
	color: #000066;
}
/*google maps*/
#map{
<<<<<<< HEAD
    width: 600px;
=======
	border-style: solid;
	border-width: 2px;
    width: 100%;
>>>>>>> 1078eb37a72ef844d89501a101cfdb670ff63b47
    height: 400px;
    background-color: grey;
	right: 0;
	left: 150px;
}