body{
	background-image: url("taust.jpeg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

h1{
	color: white;
	margin-left: 20px;
}

.nupp{
	background-color: #2255a8; /* Blue background */
	border: none; /* Remove borders */
	color: white; /* White text */
	padding: 10px 10px 10px 10px; /* Some padding */
	font-size: 16px; /* Set a font size */
	cursor: pointer; /* Mouse pointer on hover */
}

.nupp:hover{
	background-color: RoyalBlue;
}

/*google maps*/
#map{
    height: 400px;
    background-color: grey;
	right: 0;
}