body{
	background-color: #e6e6e6;
}

h1{
	color: white;
	margin-left: 20px;
}

/*Naviriba css algus*/
.naviriba{
	list-style-type: none;
	margin: 25px;
	padding: 0;
	overflow: hidden;
	background-color: #2255a8;
}

.horisont{
	float: left;
}

.nupud{
	font-size: 25px;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.nupud:hover{
	background-color: #142352;
}

.praegune{
	font-size: 25px;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	background-color: #960000;
}
/*naviriba css l6pp*/

/*Kahes veerus elemendid*/
.row {
  display: flex;
}

.column {
  flex: 50%;
}

.element{
	padding: 10px 10px 0 10px; 
}


/*google maps*/
#map{
    width: 100%;
    height: 400px;
    background-color: grey;
}